body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

header, nav, section, aside, footer {
    background: #ebe;
    margin-top: 5px;
}

header, nav {
    text-align: center;
    padding: 25px;
}

article {
    color: #ebe;
    background: #777;
}

h1, p {
    color: #777;
    background: #ebe;
}