body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

header, nav, section, aside, footer {
    background: #ebe;
    margin-top: 5px;
}

header, nav {
    text-align: center;
    padding: 25px;
}

article {
    color: #ebe;
    background: #777;
}

h1, p {
    color: #777;
    background: #ebe;
}

section, aside {
    width: 49.5%;
    text-align: center;
    height: 150px;
    padding-top: 10px;
}
section {
    width: 48%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

article {
    background: #ebe;
}

article > div {
    margin-top: 10px;
    background: #777;
    padding: 10px 0px 10px 0px;
}

aside {
    float: right;
}

main:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    padding: 25px;
}

